<a href="https://colab.research.google.com/github/Alekhya228/Python/blob/main/PythonBasics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
b=float(input())
h=float(input())
A=1/2*b*h
print("area:",A)

7
3
area: 10.5

In [ ]:
a=int(input())
if(a%2==0):
    print("even")
else:
    print("odd")

7
odd

In [ ]:
n=15
if(n%3==0):
    print("fizz")
elif(n%5==0):
    print("buzz")
else:
    print("fizz,buzz")

fizz

In [ ]:
a=int(input("enter a number:"))
if(a%2==0 and a%5==0):
    print("buzz")
else:
    print("fizz")

enter a number:10
buzz

In [ ]:
a=int(input("enter a number:"))
b=int(input("enter a number:"))
c=a+b
print(c)
d=a-b
print(d)
e=a*b
print(e)
f=a%b
print(f)
g=a/b
print(g)

enter a number:4
enter a number:16
20
-12
64
4
0.25

In [ ]:
a=int(input("enter a number:"))
if(a>0):
    print("positive")
elif(a<0):
    print("negative")
else:
    print("0")

enter a number:5
positive

In [ ]:
a=int(input("enter a number:"))
if(a>=18):
    print("eligible")
else:
    print("not eligible")

enter a number:21
eligible

In [ ]:
a=int(input("enter a number:"))
if(a%2==0 and a%4==0):
    print("fizz")
elif(a%5==0):
    print("buzz")
else:
    print("not divisible")

enter a number:20
fizz

In [ ]:
print("English marks of the student:")
a=int(input("enter a number:"))
if(a>80):
    print("A grade")
elif(a>55 and a<80):
    print("B grade")
else:
    print("C grade")

English marks of the student:
enter a number:59
B grade

In [ ]:
a=int(input("enter a number:"))
b=int(input("enter a number:"))
c=int(input("enter a number:"))
if(a>b and a>c):
    print("a is greater")
elif(b>a and b>c):
    print("b is greater")
else:
    print("c is greater")

enter a number:34
enter a number:12
enter a number:69
c is greater

In [ ]:
for i in range(1,501):
    if i%5==0:
        print(i)

5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100
105
110
115
120
125
130
135
140
145
150
155
160
165
170
175
180
185
190
195
200
205
210
215
220
225
230
235
240
245
250
255
260
265
270
275
280
285
290
295
300
305
310
315
320
325
330
335
340
345
350
355
360
365
370
375
380
385
390
395
400
405
410
415
420
425
430
435
440
445
450
455
460
465
470
475
480
485
490
495
500

In [ ]:
for i in range(1,200):
    if i%21==0:
        print(i)

21
42
63
84
105
126
147
168
189

In [ ]:
a=3
b=4
k=a**2+b**2+2*a*b
print(k)

49

In [ ]:
for i in range(50,101):
    if i%1==0:
        print(i)

50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [ ]:
def additional(a,b):
    print(a+b)
def sub(a,b):
    print(a-b)

additional(1,2)
additional(10,100)
sub(14,16)
sub(100,26)

3
110
-2
74

In [ ]:
#swapping numbers

a=int(input("enter a number:"))
b=int(input("enter a number:"))
a,b=b,a
print(a)
print(b)

enter a number:7
enter a number:2
2
7

In [ ]:
a=int(input("enter a number:"))
b=int(input("enter a number:"))
c=int(input("enter a number:"))
if(a<b and a<c):
    print("a is smallest")
elif(b<a and b<c):
    print("b is smallest")
else:
    print("c is smallest")

enter a number:69
enter a number:190
enter a number:45
c is smallest

In [ ]:
a="hello guys."
x=a.capitalize()
print(x)

Hello guys.

In [ ]:
a="Hello,guys"
x=a.casefold()
print(x)

hello,guys

In [ ]:
A=["elsa","alex","anna"]
for x in A:
    if x=="anna":
     break
    print(x)

elsa
alex

In [ ]:
for x in range(1,6):
  for y in range(1,x+1):
    print("*",end="")
  print()

*
**
***
****
*****

In [ ]:
for x in range(1,6):
  for y in range(6,x,-1):
    print("*",end=" ")
  print()

* * * * *
* * * *
* * *
* *
*

In [ ]:
for x in range(1,6):
  for y in range(1,6):
      print("*",end="")
  print()

*****
*****
*****
*****
*****

In [ ]:
for x in range(1, 6):
    for y in range(5, x, -1):
        print(" ", end="")
    for z in range(0, x):
        print("*", end="")
    print()

    *
   **
  ***
 ****
*****

In [ ]:
for x in range(5, 0, -1):
    for y in range(x, 5):
        print(" ", end="")
    for z in range(0, x):
        print("*", end="")
    print()

*****
 ****
  ***
   **
    *

In [ ]:
n=5
for i in range(1,n+1):
  print(" "*(n-i)+'*'*(2*i-1))
for i in range(n-1,0,-1):
  print(" "*(n-i)+'*'*(2*i-1))

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

In [ ]:
a=int(input())
for i in range(a,0,-1):
  for j in range(a,i,-1):
    print(" ",end=" ")
  for j in range((2*i)-1):
    print("*",end=" ")
  print()

7
* * * * * * * * * * * * *
  * * * * * * * * * * *
    * * * * * * * * *
      * * * * * * *
        * * * * *
          * * *
            *

In [ ]:
n=int(input())
for i in range(n):
  print(" "*(n-i-1),end=" ")
  print("* "*(i+1))

6
      *
     * *
    * * *
   * * * *
  * * * * *
 * * * * * *

In [ ]:
for x in range(65,70):
   for y in range(65,x+1):
      print(chr(y),end=" ")
   print()

A
A B
A B C
A B C D
A B C D E

In [ ]:
for x in range(65,70):
   for y in range(65,x+1):
      print(chr(x),end=" ")
   print()

A
B B
C C C
D D D D
E E E E E

In [ ]:
for x in range(65,70):
   for y in range(1,6):
      print(chr(x),end=" ")
   print()

A A A A A
B B B B B
C C C C C
D D D D D
E E E E E

In [ ]:
for x in range(1,6):
   for y in range(65,70):
      print(chr(y),end=" ")
   print()

A B C D E
A B C D E
A B C D E
A B C D E
A B C D E

In [ ]:
n=int(input())
sum_n=0
for i in range(1,n+1):
    sum_n+=i
print(sum_n)

1035
536130

In [ ]:
a=int(input())
b=int(input())
for i in range(b):
    print("*"*a)

8
3
********
********
********

In [ ]:
a=input("enter an alphabet:")
if a in('a','e','i','o','u','A','E','I','O','U'):
    print(a,"is an vowel")
else:
    print(a,"is not an vowel")

enter an alphabet:O
O is an vowel

In [ ]:
n=int(input("enter a number:"))
for i in range(1,31):
   print(n,"*",i,"=",n*i)

enter a number:6
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60
6 * 11 = 66
6 * 12 = 72
6 * 13 = 78
6 * 14 = 84
6 * 15 = 90
6 * 16 = 96
6 * 17 = 102
6 * 18 = 108
6 * 19 = 114
6 * 20 = 120
6 * 21 = 126
6 * 22 = 132
6 * 23 = 138
6 * 24 = 144
6 * 25 = 150
6 * 26 = 156
6 * 27 = 162
6 * 28 = 168
6 * 29 = 174
6 * 30 = 180

In [ ]:
a=int(input())
for i in range(1,a):
  if(a%i==0):
      print(a,"is a prime")
      break
  else:
      print(a,"is not a prime")

3
3 is a prime

In [ ]:
n = int(input("Enter a positive integer: "))
sum_n = n * (n + 1) // 2
print("The sum of the first",n,"natural numbers is:",{sum_n})

Enter a positive integer: 5
The sum of the first 5 natural numbers is: {15}

In [ ]:
a=int(input())
if(a%2==0):
    print("even")
else:
    print("odd")

7
odd

In [ ]:
year=int(input("Enter year:"))
if(year%4==0 and year%100!= 0 or year%400==0):
   print("leap year!")
else:
   print("not a leap year!")

Enter year:5853
not a leap year!

In [ ]:
x={"name":"John","age":18}
print(x.keys())
print(x.values())
print(x.items())
print(x)
print(type(x))

dict_keys(['name', 'age'])
dict_values(['John', 18])
dict_items([('name', 'John'), ('age', 18)])
{'name': 'John', 'age': 18}
<class 'dict'>

In [ ]:
x=5
print(x)
(type(x))

5

int

In [ ]:
x=0.1
print(x)
(type(x))

0.1

float

In [ ]:
x="Hello"
print(x)
(type(x))

Hello

str

In [ ]:
x=True
print(x)
(type(x))

True

bool

In [ ]:
x=3+5j
print(x)
(type(x))

(3+5j)

complex

In [ ]:
x=["apple","banana", "cherry"]
print(x)
(type(x))

['apple', 'banana', 'cherry']

list

In [ ]:
x=5
print(x)
(type(x))

5

int